<%- include('partials/head'); %>
<body>
    <div class="title-country">
        <%- countryName %>
    </div>
    <% for (var i=0; i < 10; i++) { %>
    <div class="container-question">
        <div class="overflow size-font-small">
            <div class="content-number-question">Question n°<%- i +1 %></div>
        </div>
        <div class="info-round pos-question"><i class="fa fa-info"></i></div>
        <div class="overflow">
            <div class="question-title"><%- datas[i].question %></div>
        </div>
        <div class="info-bulle">
            <div class="content-help">
                <%- datas[i].help %>
            </div>
        </div>
    </div>
    <% } %>
    <div class="quiz-end">
        <div class="">end</div>
    </div>
    <%- include('timeline'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../assets/js/quiz.js"></script>
</body>
</html>
  