<%- include('partials/head'); %>
<body>
    <div class="title-country"><%- countryName %></div>
    <% for (var i=0; i < 10; i++) { %>
    <div class="container-question">
        <div class="overflow size-font-small">
            <div class="content-number-question">Question n°<%- i +1 %></div>
        </div>
        <div class="info-round pos-question"><i class="fa fa-info"></i></div>
        <div class="overflow">
            <div class="question-title"><%- datas[i].question %></div>
        </div>
        <% if(manualQuestion) { %>
        <div class="manual-question">
            <div class="yes-manual"><%- datas[i].yes %></div>
            <div class="no-manual"><%- datas[i].no %></div>
        </div>
        <% } %>
        <div class="info-bulle">
            <div class="content-help">
                <%- datas[i].help %>
            </div>
        </div>
    </div>
     <div class="container-question-result">
        <div class="result-transition"></div>
        <div class="display-result">
                <div class="question-result"><%- datas[i].question %></div>
                <div class="bar-big-container">
                    <div class="answer-type"><%- datas[i].yes %></div>
                    <div class="bar-container">
                        <div class="inner-bar-yes">
                            <span class="pourcent-inner">45%</span>
                        </div>
                    </div>
                </div>
                <div class="bar-big-container">
                    <div class="answer-type"><%- datas[i].no %></div>
                    <div class="bar-container">
                        <div class="inner-bar-no">
                            <span class="pourcent-inner">55%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skip-button">RYTGFRDESGTRFEDSX</div>
            <div class="time-remaining-result"></div>
    </div>
    <% } %>
    <div class="quiz-end">
        <div class="container-data">
            <div class="title-end-data">Information about <%= countryName %></div>
            <% for (var y = 0; y < 10; y++) { %>
            <div class="content-one-question-data">
                <div class="header-question-data">
                    <div class="little-title-question-data">Question n°<%- y+1 %></div>
                    <div class="title-question-data"><%- datas[y].question %></div>
                </div>
                <div class="content-question-data">
                    <div class="block-question-data">
                        <div class="little-title-content-data">Global stats</div>
                        <div class="charts-data">
                            <div class="fill-data">
                                <div class="hover-tooltip-yes">
                                </div>
                                <div class="seek-data-yes"></div>
                            </div>
                            <div class="fill-data">
                                <div class="hover-tooltip-no">
                                </div>
                                <div class="seek-data-no"></div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="round-yes"></div><span class="textYes"><%- datas[y].yes %> (<span class="pourcentageYes"></span>) </span>
                            <div class="round-no"></div><span class="textNo"><%- datas[y].no %> (<span class="pourcentageNo"></span>)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-box-data">
                <div class="title-box-white-data">explanation</div>
                <%- datas[y].help %>
            </div>
            <% } %>
        </div>
    </div>
    <%- include('timeline'); %>
    <div class="idpage"><%- idPage %></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../assets/js/quiz.js"></script>
    <% if(manualQuestion) { %>
    <script src="../assets/js/quiz-manual.js"></script>
    <% } %>
</body>
</html>
  