<%- include('partials/head'); %>
<body>
    <div class="global-container">
        <div class="title-country"><%- countryName %></div>
          <div class="quiz-ico menu-burger-ico sound-ico">
            <svg class="ico-hover inner-sound-off sound-no-display" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-x"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><line x1="23" y1="9" x2="17" y2="15"></line><line x1="17" y1="9" x2="23" y2="15"></line></svg>
            <svg class="ico-hover inner-sound-on sound-display" width="24" height="24" viewBox="0 0 24 24" fill="none"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path></svg>
        </div>
        <% for (var i=0; i < 10; i++) { %>
        <div class="container-question">
            <div class="overflow size-font-small">
                <div class="content-number-question">Question n°<%- i +1 %></div>
            </div>
            <div class="info-round pos-question"><i class="fa fa-info"></i></div>
            <div class="overflow">
                <div class="question-title"><%- datas[i].question %></div>
            </div>
            <% if(manualQuestion) { %>
            <div class="manual-question">
                <div class="yes-manual"><%- datas[i].yes %></div>
                <div class="no-manual"><%- datas[i].no %></div>
            </div>
            <% } %>
            <div class="info-bulle">
                <div class="content-help">
                    <div class="content-transition content-transition.active"></div>
                    <div class="container-text">
                        <div class="help-title">Information</div>
                        <span class="help-text">              <%- datas[i].help %></span>
                    </div>
                    <img class="img-help" src=" <%- datas[i].picture %> "></img>
                </div>
            </div>
        </div>
         <div class="container-question-result">
            <div class="result-transition"></div>
            <div class="display-result">
                    <div class="question-result"><%- datas[i].question %></div>
                    <div class="content-question-data">
                    <div class="block-question-data">
                        <div class="little-title-content-data">Global stats</div>
                        <div class="charts-data">
                            <div class="fill-data">
                                <div class="hover-tooltip-yesManual">
                                </div>
                                <div class="seek-data-yes seek-data-yesManual"></div>
                            </div>
                            <div class="fill-data">
                                <div class="hover-tooltip-noManual">
                                </div>
                                <div class="seek-data-no seek-data-noManual"></div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="round-yes"></div><span class="textYes"><%- datas[i].yes %> (<span class="pourcentageYesManual"></span>) </span>
                            <div class="round-no"></div><span class="textNo"><%- datas[i].no %> (<span class="pourcentageNoManual"></span>)</span>
                        </div>
                    </div>
                </div>
                </div>
                <% if(manualQuestion) { %>
                <div class="skip-button">NEXT QUESTION</div>
                <% } %>
                <div class="time-remaining-result"></div>
        </div>
        <% } %>
        <%- include('timeline'); %>
        <div class="idpage"><%- idPage %></div>
    </div>
    <div class="end-transition"></div>
    <div class="quiz-end">
        <div class="container-data">
            <div class="title-end-data">Information about <%= countryName %></div>
            <% for (var y = 0; y < 10; y++) { %>
            <div class="content-one-question-data">
                <div class="header-question-data">
                    <div class="little-title-question-data">Question n°<%- y+1 %></div>
                    <div class="title-question-data"><%- datas[y].question %></div>
                </div>
                <div class="content-question-data">
                    <div class="block-question-data">
                        <div class="little-title-content-data">Global stats</div>
                        <div class="charts-data">
                            <div class="fill-data">
                                <div class="hover-tooltip-yes">
                                </div>
                                <div class="seek-data-yes"></div>
                            </div>
                            <div class="fill-data">
                                <div class="hover-tooltip-no">
                                </div>
                                <div class="seek-data-no"></div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="round-yes"></div><span class="textYes"><%- datas[y].yes %> (<span class="pourcentageYes"></span>) </span>
                            <div class="round-no"></div><span class="textNo"><%- datas[y].no %> (<span class="pourcentageNo"></span>)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-box-data">
                <div class="title-box-white-data">explanation</div>
                <%- datas[y].help %>
            </div>
            <% } %>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../assets/js/quiz.js"></script>
    <% if(manualQuestion) { %>
    <script src="../assets/js/quiz-manual.js"></script>
    <% } %>
</body>
</html>
  